@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

    <div>
        <h3>Oops ... something happened on our end.</h3>
        <p>If you continue to have this issue please let us know. We are sorry for the inconvenience.</p>
    </div>

    <div>
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>

        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }
    </div>